<div class="modal-header">
  <h4 class="modal-title">Create new group</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="createNewGroupForm">
    <div class="form-group">
      <label for="courseCode">Course Code</label>
      <select class="form-control"
              id="courseCode"
              formControlName="courseCode"
              #courseCode>
        <option *ngFor="let course of courses">{{course.code}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="groupCode">Group Code</label>
      <input class="form-control"
             id="groupCode"
             type="text"
             formControlName="groupCode"
             [placeholder]="newGroupModel ? newGroupModel.code : ''"
             [value]="newGroupModel ? newGroupModel.code : ''"
             [attr.disabled]="true">
    </div>

    <div class="form-group">
      <label for="startDate">Start Date</label>
      <div class="input-group">
        <input class="form-control"
               placeholder="yyyy-mm-dd"
               id="startDate"
               formControlName="startDate"
               name="dp"
               ngbDatepicker
               #sd="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="sd.toggle()" type="button">
            <i fa [name]="'calendar'"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="endDate">End Date</label>
      <div class="input-group">
        <input class="form-control"
               placeholder="yyyy-mm-dd"
               id="endDate"
               formControlName="endDate"
               name="dp"
               ngbDatepicker
               #ed="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="ed.toggle()" type="button">
            <i fa [name]="'calendar'"></i>
            <!--<img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>-->
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')" data-dismiss="modal">
    Close
  </button>
  <button type="button" class="btn btn-primary" (click)="onCreateNewGroup()">Create</button>
</div>
