<div class="container" style="margin: auto;">

  <div class="row justify-content-center">

    <div class="card rd-card" style="width: 18rem;" *ngFor="let group of groups | async">
      <img class="card-img-top" style="width: 286px; height: 180px; object-fit: contain"
           src="{{ (group.course | async)?.img }}"
           alt="{{ group.id }}">
      <hr>
      <div class="card-body">
        <h5 class="card-title">{{ (group.course | async)?.id + ' (' + group.id + ')' }}</h5>
        <p class="card-text">{{ (group.course | async)?.name }} </p>
        <p class="card-text">Start Date: {{ group.startDate.toDate() | date: 'yyyy-MM-dd' }}</p>
        <p class="card-text">End Date: {{ group.endDate.toDate() | date: 'yyyy-MM-dd' }}</p>
        <a href="#" class="card-link">Apply</a>
      </div>
    </div>
  </div>
</div>
